*{
	margin:0;
	padding:0;
}
#category-nav>div{
	display: none;
}

/*中间部分*/
.w {
    width: 1180px;
    margin: 0 auto;
}

/*右侧栏*/
/*小图标*/
#side-service {
    z-index: 4;
    position: fixed;
    top: 0;
    right: -270px;
    width: 270px;
    height: 100%;
    border-left: 4px solid #313131;
    background: #fff;
}
#side-service .t {
    position: absolute;
    top: 50%;
    right: 270px;
    margin-top: -90px;
}
#side-service .t li {
   /* position: relative;*/
    width: 44px;
    position: relative;
    height: 36px;
    margin-bottom: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #313131;
}
#side-service .t a {
    display: none;
    position: absolute;
    right: 44px;
    width: 45px;
    line-height: 36px;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #ffffff;
    background: #b81c22;
}
#side-service .t .sc>i {
    background-position: -152px -412px;
}
#side-service .t i {
    display: inline-block;
    width: 44px;
    height: 36px;
    background: url(../img/goodDetail/icon_index.png) no-repeat;
    cursor: pointer;
}
#side-service .t .cl i {
    background-position: -232px -412px;
}
#side-service .t .cp i {
    background-position: -312px -412px;
}
#side-service .t .ed i {
    background-position: -430px -413px;
}
/*滚动栏*/
#side-service .c {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #eaeaea;
}
#side-service .item {
    display: none;
    width: 100%;
    overflow: hidden;
}
#side-service .item-con {
    position: relative;
    width: 270px;
}
#side-service .c h3 {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 270px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #666;
    background: #f1f1f1;
}
#side-service .sc-c h3 i {
    width: 25px;
    background: url(../img/goodDetail/icon_index.png) -240px -471px no-repeat;
}
#side-service .c h3 i {
    position: absolute;
    left: 18px;
    top: 0;
    height: 40px;
}
#side-service .c h3 span {
    margin-left: 55px;
}
#side-service .c h3 a {
    position: absolute;
    left: 230px;
    top: 0;
    width: 20px;
    height: 40px;
    background: url(../img/goodDetail/icon_index.png) -160px -469px no-repeat;
}
#side-service .item .no, #side-service .item .yes {
    padding: 40px 0 110px;
}
#side-service .foot {
    position: fixed;
    bottom: 0;
    width: 270px;
    height: 110px;
    background: #f1f1f1;
}

/*中间顶部*/
#com-crumb {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}
#com-crumb em {
    color: #777;
}
/*商品信息*/
#goodsId {
    border: 1px solid #e8e8e8;
    height:588px;
}
.clearfix {
    zoom: 1;
}

/*隐藏大图*/
.bigImg{
	border: 1px solid black;
	position:absolute;
	height:398px;
	width:398px;
	left:450px;
	overflow: hidden;
	background: #FFFFFF;
	display: none;
}
.bigImg .active2{
	z-index: 1000;
}
.bigImg .commonImg{
	position: absolute;
}

/*左*/
#goodsId .preview {
    float: left;
    width: 398px;
}
#goodsId .preview h2 {
    display: none;
}
.picZoomer {
    z-index: 1;
    position: relative;
}
.picZoomer-pic-wp {
    position: relative;
    overflow: hidden;
    width: 398px;
    height: 398px;
}
.picZoomer-pic {
    width: 398px;
    height: 398px;
    position: absolute;
}
.picZoomer-pic-wp .active1{
	z-index: 1000;
}
.picZoomer-cursor {
    display: none;
    cursor: move;
    width: 157px;
    height: 157px;
    position: absolute;
    /*top: 0;
    left: 0;*/
   left:159px;
   top:303.5px;	
    border: 1px solid #cb9542;
    background-color: rgba(255,208,106,.5);
   /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3fffd06a,endColorstr=#3fffd06a);*/
    zoom: 1;
    z-index: 1000;
}
.picZoomCursor-ico {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 40px;
    left: 40px;
}
.picZoomer-zoom-wp {
    display: none;
    position: absolute;
    z-index: 999;
    overflow: hidden;
    width: 398px;
    height: 398px;
    top: 0px;
    left: 399px;
}
/*小图*/
.piclist-wrap {
    position: relative;
    padding: 14px 41px 14px 43px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.piclist-btn-up {
    position: absolute;
    left: 13px;
    top: 35px;
    width: 15px;
    height: 30px;
}
.piclist-btn-up.yes {
    background: url(../img/goodDetail/icon_com.png) -400px 2px no-repeat;
}
.piclist-con {
    position: relative;
    width: 306px;
    height: 72px;
    overflow: hidden;
}
.piclist {
    position: absolute;
    left: 0;
    width: 9999px;
}
.piclist li {
    float: left;
    width: 68px;
    height: 68px;
    margin-right: 8px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}
.piclist li.selected {
    border-color: #d61118;
}
.piclist li img {
    width: 100%;
    height: 100%;
}
.piclist-btn-down {
    position: absolute;
    right: 13px;
    top: 35px;
    width: 15px;
    height: 30px;
}
.piclist-btn-down.yes {
    background: url(../img/goodDetail/icon_com.png) -450px 2px no-repeat;
}
/*编号*/
#goodsId .piclist-no {
    height: 50px;
    line-height: 50px;
    padding: 0 14px;
    color: #777777;
}
#goodsId .piclist-no a {
    float: right;
    margin-left: 18px;
    color: #777777;
}
#goodsId .piclist-no i {
    display: inline-block;
    width: 20px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
#goodsId .piclist-no .op-collect i {
    background: url(../img/goodDetail/icon_com.png) -200px 15px no-repeat;
}
#goodsId .piclist-no a.op-share {
    float: right;
    margin-left: 18px;
    color: #777777;
    display: none;
}

/*中*/
#goodsId .info {
    float: left;
    width: 541px;
    min-height: 549px;
    padding: 10px 20px 27px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
/*题目*/
#goodsId .info>h1 {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
#goodsId .info>p {
    line-height: 24px;
    color: #d61118;
}
#goodsId .info>dl {
    margin-top: 15px;
    padding: 7px 14px 10px;
    line-height: 30px;
}
#goodsId .info dt {
    width: 72px;
    color: #777;
    float:left;    
}
#goodsId .pri-box {
    background-color: #f7f7f7;
    height:61px;
}
#goodsId .pri-box .pri {
    font-size: 16px;
}
#goodsId .pri-box dd {
    color: #d61118;
}
#goodsId .info dd {
    float: left;
}
#goodsId .info dd {
    width: 441px;
    /*color: #555;*/
}
#goodsId .pri-box .pri b {
    font-size: 20px;
}
#goodsId .pri-box .promo {
    line-height: 30px;
    color: #db1a21;
}
/*4*/
#goodsId .distri-box{
	height:60px;
}
#goodsId .tips-box {
    background-color: #f7f7f7;
    height:150px;
}
#goodsId .tips-box li {
    list-style: inside decimal;
}
#goodsId .op {
    margin-top: 24px;
    line-height: 36px;
}
#goodsId .op .num {
    position: relative;
    width: 49px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #ccc;
}
.fl{
	float:left;
}
#goodsId .op .num input {
    width: 33px;
    height: 34px;
    overflow: hidden;
    line-height: 34px;
    border: 0 none;
    text-align: center;
    font-size: 16px;
    color: #555;
}
#goodsId .op .num a {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 15px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f1f1f1;
}
#goodsId .op .num .plus {
    top: 16px;
}
/*加入购物车*/
#goodsId .op .btn a {
    display: inline-block;
    height: 36px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}
#goodsId .op .go-into {
    padding: 0 10px 0 40px;
    margin: 0 21px 0 23px;
    background-color: #eb020b;
}
#goodsId .op .go-into i {
    position: absolute;
    margin-left: -30px;
    width: 30px;
    height: 36px;
    background: url(../img/goodDetail/icon_com.png) -50px 8px no-repeat;
}
#goodsId .op .go-acc {
    padding: 0 14px;
    margin-right: 26px;
    background-color: #ff8c26;
}

/*右*/
#goodsId .side-info {
    float: right;
    width: 160px;
    margin-right: 20px;
}
#goodsId .side-info>div:first-child {
    border-top: 0 none;
}
#goodsId .side-info>div {
    padding: 20px 0;
    border-top: 1px solid #e8e8e8;
}
/*logo*/
#goodsId .logo h3 {
    /* padding-top: 97px; */
    font-size: 13px;
    /*color: #555;*/
    background: center top no-repeat;
}
#goodsId .side-info h3 {
    line-height: 21px;
    color: #555;
    text-align: center;
}
/*grade*/
#goodsId .side-info>div {
    padding: 20px 0;
    border-top: 1px solid #e8e8e8;
}
#goodsId .grade p {
    margin-top: 3px;
    line-height: 28px;
    text-align: center;
}
#goodsId .grade p a {
    display: inline-block;
    width: 23px;
    height: 28px;
    background: url(../img/goodDetail/icon_com.png) -396px -143px no-repeat;
}
#goodsId .grade p .sel {
    background-position: -396px -93px;
}
.circliful {
    border-top: 1px solid #e8e8e8;
    margin: 15px 0 0;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 159.6px;
}
.circle-text/*, .circle-info, .circle-text-half, .circle-info-half */{
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    margin-left: -14px;
    line-height: 120px;
    font-size: 20px;
}
.circle-info{
	width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    margin-left: -14px;
    color: #999;
    line-height: 150px;
}
canvas{
	height:120px;
	width:120px;
}
#goodsId .grade .big {
    font-size: 13px;
}
/*app*/
#goodsId .app h3 {
    padding-top: 85px;
    background:  url(../img/goodDetail/downApp.png) center top no-repeat;
}

/*评价*/
#com-details {
    margin-top: 20px;
    height:9910px;
}
/*商品详情*/
#com-details .tab {
    position: relative;
    width: 980px;
    height:9910px;
}
.fr {
    float: right;
}
#com-details .tab-t {
    z-index: 1;
    position: absolute;
    left: 0;
    top: -1px;
    width: 978px;
    height: 34px;
    border: 1px solid #e8e8e8;
    background-color: #f9f9f9;
}
#com-details .tab-t li {
    position: relative;
    float: left;
    width: 128px;
    height: 36px;
    margin-left: -1px;
    margin-top: -1px;
    border: solid #e8e8e8;
    border-width: 0px 1px;
    text-align: center;
}
#com-details .tab-t .sel a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-top: 2px solid #d61118;
    border-bottom: 2px solid #fff;
    color: #d61118;
    background-color: #fff;
}
#com-details .tab-t li a {
    display: block;
    line-height: 36px;
    font-size: 13px;
    color: #555;
}
#com-details .tab-t .app {
    position: relative;
    width: 200px;
    height: 34px;
}
#com-details .tab-t .app a {
    display: block;
    line-height: 34px;
    padding-right: 52px;
    text-align: right;
    font-size: 13px;
}
#com-details .tab-t .app b {
    color: #d61118;
}
#com-details .tab-t .app .icon-i {
    right: 33px;
    background: url(../img/goodDetail/icon_com.png) -300px 8px no-repeat;
}
#com-details .tab-t .app i {
    position: absolute;
    top: 0px;
    width: 10px;
    height: 34px;
}
#com-details .tab-t .app .icon-t {
    right: 15px;
    background: url(../img/goodDetail/icon_com.png) -350px 14px no-repeat;
}
#com-details .tab-t .app span {
    display: none;
    position: absolute;
    top: 34px;
    right: -1px;
    width: 202px;
    height: 202px;
    border: 1px solid #e8e8e8;
    background: #fff url(../img/goodDetail/app.png) center center no-repeat;
}
#com-details .tab-t .go-into {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
    padding: 0 10px 0 30px;
    border-radius: 2px;
    color: #fff;
    background-color: #d61118;
}
#com-details .tab-t .go-into i{
    position: absolute;
    margin-left: -22px;
    width: 22px;
    height: 24px;
    background: url(../img/goodDetail/icon_com.png) -100px 6px no-repeat;
}
/*图片*/
#com-details .tab-con {
    margin-top: 35px;
}
/*品牌*/
#com-details .tab-con .sel {
    display: block;
    border-top: 0;
}
#com-details .tab-con>div {
    display: none;
    border: 1px solid #e8e8e8;
}
#com-details .tab-con-intro ul {
    padding: 22px 0;
    height:56px;
}
#com-details .tab-con-intro ul li {
    float: left;
    width: 218px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    padding-left: 26px;
    font-size: 13px;
    color: #777;
}
#com-details .tab-con-intro ul b {
    color: #555;
}
/*活动推荐*/
#com-details .tab-con-intro h4 {
    height: 32px;
    line-height: 32px;
    margin: 0 40px 0 30px;
    background: url(../img/goodDetail/gebar.jpg) center center repeat-x;
}
#com-details .tab-con-intro h4 span {
    padding-right: 20px;
    background-color: #fff;
    font-size: 16px;
    color: #313131;
}
/*背景图*/
/*1*/
 #com-details .tab-con-intro .hd-tj {
    width: 800px;
    margin: 0 auto 23px 76px;
    padding: 7px;
    background-color: #71a501;
}
.hd-tj a:first-child {
    display: block;
    margin-top: 0;
}
#com-details .tab-con-intro>div img, #com-details .tab-con-recom>div img, #com-details .tab-con-service>div img {
    width: 100%;
}
/*2*/
#com-details .tab-con-intro .recom-com {
    width: 795px;
    overflow: hidden;
    margin: 0 auto 23px 78px;
    padding: 7px 7px 0;
    background-color: #71a501;
    height:589px;
}
#com-details .tab-con-intro .recom-com ul {
    width: 800px;
    padding: 0;
    height:582px;
}
#com-details .tab-con-intro .recom-com li {
    line-height: 20px;
    padding: 0;
    font-size: 12px;
    float: left;
    width: 193px;
    height: 282px;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 7px;
    border: 1px solid #d7d7d7;
    background: #fff;
}
#com-details .tab-con-intro .recom-com a .icon-q {
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    position: absolute;
    margin: 0;
    padding: 0;
}
#com-details .tab-con-intro .recom-com img {
    width: 178px;
    height: 178px;
    padding: 11px 7px;
}
#com-details .tab-con-intro .recom-com p {
    height: 34px;
    padding: 0 16px;
}
#com-details .tab-con-intro .recom-com div {
    margin-top: 8px;
    padding: 0 16px;
}
#com-details .tab-con-intro .recom-com .yes {
    float: right;
    width: 72px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    background-color: #b81c22;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
}
#com-details .tab-con-intro .recom-com .highlight {
    font-size: 16px;
    line-height: 24px;
    color: #b81c22;
}
#com-details .tab-con-intro p{
	text-align: center;
}
/*商品评价*/
#com-details .tab-con .tab-con-intro .tab-con-eva {
    border-width: 1px 0 0 0;
    padding: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid #e8e8e8;
}
#com-details .tab-con-intro .summary {
    border-left: none;
    border-right: none;
    height:143px;
}
#com-details .summary {
    position: relative;
    padding: 20px 0;
    /*border: 0 none;*/
    border: 1px solid #e8e8e8;
    border-top: 0 none;
}
#com-details .rate {
    width: 124px;
    color: #999;
}
#com-details .rate/*, #com-details .eva */{
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 108px;
    margin: auto;
    text-align: center;
}
#com-details .rate p {
    margin-top: 22px;
    font-size: 22px;
    color: #e6161d;
}
#com-details .dl-wrap {
    position: relative;
    margin: 0 100px 0 124px;
    padding: 25px 20px 13px 44px;
    border: 1px solid #e8e8e8;
    border-width: 0 1px;
    height:105px;
}
#com-details .tab-con-eva dt {
    position: absolute;
    left: -10px;
    width: 20px;
    height: 72px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: #a9a9a9;
    background: #fff;
}
#com-details .tab-con-eva dd {
    display: block;
    float: left;
    min-width: 40px;
    height: 20px;
    line-height: 20px;
    margin: 0 12px 13px 0;
    padding: 0 8px;
    border: 1px solid #ef8b8e;
    color: #e6161d;
    cursor: pointer;
}
/*全部好评*/
#com-details .tab-con-intro .all {
    border-left: none;
    border-right: none;
}
#com-details .all {
    position: relative;
    margin-top: 19px;
    border: 1px solid #e8e8e8;
}
#com-details .tab-con-eva .all .t {
    padding: 0;
}
#com-details .all .t {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 978px;
    height: 34px;
    border: 1px solid #e8e8e8;
    background-color: #f9f9f9;
}
#com-details .all .t li {
    position: relative;
    float: left;
    width: 128px;
    height: 36px;
    margin-left: -1px;
    border: solid #e8e8e8;
    border-width: 0px 1px;
    text-align: center;
}
#com-details .tab-con .sel {
    display: block;
    /*border-top: 0;*/
}
#com-details .tab-con-intro ul li {
    /*float: left;
    width: 218px;
    height: 28px;*/
    line-height: 28px;
    overflow: hidden;
    padding-left: 26px;
    font-size: 13px;
    color: #777;
}
#com-details .all .t .sel a {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 32px;
    border-top: 2px solid #d61118;
    border-bottom: 2px solid #fff;
    color: #d61118;
    background-color: #fff;
}
#com-details .all .t a {
    display: block;
    line-height: 36px;
    font-size: 13px;
    color: #555;
}

/*左边*/
/*#com-details .tab{
	height:1255px;
}*/
#com-details .bought {
    width: 178px;
    height::773px;
    border: 1px solid #e8e8e8;
}
#com-details .recom h3 {
    padding-left: 16px;
}
#com-details h3 {
    height: 34px;
    line-height: 34px;
    margin-top: -1px;
    border: 1px solid #e8e8e8;
    font-size: 13px;
    color: #555;
    background-color: #f9f9f9;
}
#com-details .bought ul li {
    padding: 14px 7px;
    /*border-top: 1px solid #e8e8e8;*/
    text-align: center;
}
#com-details .bought ul li:first-child {
    border-top: 0 none;
}
#com-details .bought ul img {
    width: 120px;
    height: 120px;
}
#com-details .bought .name {
    line-height: 19px;
    margin-top: 12px;
    text-align: left;
    /*color: #555px;*/
}
#com-details .bought .pri {
    line-height: 29px;
    text-align: left;
    font-size: 14px;
    color: #e6161d;
}
#com-details .bought .pri span.fr {
    margin-right: 12px;
    font-size: 12px;
    color: #999;
}
#com-details .bought .go-into {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 7px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #777;
}

/*热销排行*/
#com-details .rank {
    width: 178px;
    margin-top: 19px;
    border: 1px solid #e8e8e8;
    height: 461px;
}
#com-details .rank dl {
    padding: 0 9px;
}
#com-details .rank dl dt:first-child, #com-details .rank dl dd:first-child {
    border-top: 0;
}
#com-details .rank dt {
    position: relative;
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
    overflow: hidden;
}
#com-details .rank dd {
    display: none;
    position: relative;
}
#com-details .rank dl .top {
    background-color: #d61118;
}
#com-details .rank dt i {
    top: 12px;
}
#com-details .rank dl i {
    position: absolute;
    left: 1px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 2px;
    text-align: center;
    color: #fffefe;
    background-color: #999;
}
#com-details .rank dd img {
    float: left;
    width: 50px;
    height: 50px;
    margin: 9px 8px 10px 0;
}
#com-details .rank dd .name {
    margin-top: 5px;
    height: 40px;
    overflow: hidden;
}
#com-details .rank dd p {
    line-height: 19px;
    color: #555;
}
#com-details .rank dd .pri {
    font-size: 14px;
    color: #d61118;
}